.pokemon-card {
  --space: 5%;
  --angle: 133deg;
  --imgsize: 50%;
  aspect-ratio: 63/88;
  position: relative;
  border-radius: 17px;
  overflow: hidden;
  will-change: transform;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  transform: 
  perspective(1000px)
  rotateX(var(--rotate-x))
  rotateY(var(--rotate-y));
  
  &.hovered {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  }

  .card__shine,
  .card__shine:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
      url(/illusion.png),
      repeating-linear-gradient(
        0deg,
        rgb(255, 119, 115) calc(var(--space) * 1),
        rgba(255, 237, 95, 1) calc(var(--space) * 2),
        rgba(168, 255, 95, 1) calc(var(--space) * 3),
        rgba(131, 255, 247, 1) calc(var(--space) * 4),
        rgba(120, 148, 255, 1) calc(var(--space) * 5),
        rgb(216, 117, 255) calc(var(--space) * 6),
        rgb(255, 119, 115) calc(var(--space) * 7)
      ),
      repeating-linear-gradient(
        var(--angle),
        #0e152e 0%,
        hsl(180, 10%, 60%) 3.8%,
        hsl(180, 29%, 66%) 4.5%,
        hsl(180, 10%, 60%) 5.2%,
        #0e152e 10%,
        #0e152e 12%
      ),
      radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        rgba(0, 0, 0, 0.1) 12%,
        rgba(0, 0, 0, 0.15) 20%,
        rgba(0, 0, 0, 0.25) 120%
      );

    background-blend-mode: exclusion, hue, hard-light;
    background-size: var(--imgsize), 200% 700%, 300%, 200%;
    background-position: center, 0% var(--background-y), var(--background-x) var(--background-y), var(--background-x) var(--background-y);
    filter: brightness(calc((var(--hyp) * 0.3) + 0.5)) contrast(2) saturate(1.5);

  }

  .card__shine {
    z-index: 3;
    mix-blend-mode: color-dodge;
    opacity: var(--card-opacity);
  }

  .card__shine:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: var(--imgsize), 200% 400%, 195%, 200%;
    background-position: center, 0% var(--background-y), calc(var(--background-x) *-1) calc(var(--background-y) * -1), var(--background-x) var(--background-y);

    filter: brightness(calc((var(--hyp) * 0.5) + 0.8)) contrast(1.6) saturate(1.4);
    mix-blend-mode: exclusion;
  }

  .card__glare  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-image: radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y), hsl(0, 0%, 100%) 0%, hsla(210, 3%, 54%, 0.33) 45%, hsla(0, 0%, 20%, 0.9) 130%);
    mix-blend-mode: overlay;
    background-position: center;
    background-size: 200% 200%;
    pointer-events: none;
    opacity: calc(var(--o)*0.5);
  }

  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: rgba(158, 16, 16, 0.9);
    display: flex;
    flex-direction: column;
    color: black;
    z-index: 1;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {
      font-size: 1.5em;
      margin: 0;
    }
  }

  .type {
    background-color: #4a90e2;
    color: white;
    padding: 3px 8px;
    border-radius: 2.4rem;
    font-size: 0.8em;
    z-index: -10;
  }

  .card-image {
    text-align: center;
    margin-bottom: 15px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #4a90e2;
    }
  }

  .card-body {
    flex-grow: 1;
    margin-bottom: 15px;
  }

  .card-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .stat {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
  }
}