@import 'variables';
@import 'mixins';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.container {
  @include flex-center;
  max-width: map-get($breakpoints, large);
  margin: 0 auto;
  padding: 20px;
}
