---
import Layout from '../layouts/Layout.astro';
import 'mapbox-gl/dist/mapbox-gl.css';
import Cardlg from '../components/Cardlg.astro';
import Cardsm from '../components/Cardsm.astro';
---

<Layout title="Home">

	<div class="bubbles">
		<div class="bubble" style="width: 100px; height: 100px; top: 10%; left: 5%; animation-duration: 6s;"></div>
		<div class="bubble" style="width: 150px; height: 150px; top: 40%; left: 10%; animation-duration: 8s;"></div>
		<div class="bubble" style="width: 80px; height: 80px; top: 70%; left: 15%; animation-duration: 5s;"></div>
		<div class="bubble" style="width: 120px; height: 120px; top: 20%; left: 50%; animation-duration: 7s;"></div>
		<div class="bubble" style="width: 90px; height: 90px; top: 60%; left: 60%; animation-duration: 5.5s;"></div>
		<div class="bubble" style="width: 140px; height: 140px; top: 80%; left: 80%; animation-duration: 9s;"></div>
	  </div>
	  
	<div class="container">
		<h1 class="text-4xl font-bold mb-4">Welcome to my website, I'm <span class="text-purple-500 glow">Thomas Skjerdal</span></h1>
		<p class="text-xl mb-4">I'm a software developer from Norway.</p>
		

		<div class="card-grid">
			<Cardsm
				title="Abot Me"
				text="lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
			</Cardsm>
			<Cardlg
				title="About Me"
				text="lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
			</Cardlg>
			<Cardsm
				title="Abot Me"
				text="lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
			</Cardsm>
			<Cardlg
				title="Projects"
				text="lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
				<button id="location1" class="btn">Location 1</button>
				<button id="location2" class="btn">Location 2</button>
				<div id='map' style='width: 100%; height: 100%;'></div>
			</Cardlg>
		</div>
	  </div>
	
</Layout>

<script>
	
	import mapboxgl from 'mapbox-gl';
	

  mapboxgl.accessToken =
    'pk.eyJ1Ijoic2tqZXJkYWwiLCJhIjoiY2xsMHJudGV1MXpvYzNrcG15Mmp3NTFqZCJ9.yN3avNPIJWMbFfchgtU-1Q';

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/skjerdal/clkwjbzrl005301pm710e17lj',
    center: [-71.311, 41.4814], // starting position as [lng, lat]
    zoom: 9,
  });

  const location1Btn = document.getElementById('location1');
  const location2Btn = document.getElementById('location2');

  if (location1Btn && location2Btn) {
    location1Btn.addEventListener('click', function () {
      map.flyTo({
        center: [10.7522, 59.9139],
        essential: true,
      });
    });

    location2Btn.addEventListener('click', function () {
      map.flyTo({
        center: [7.8475, 58.8733],
        essential: true,
      });
    });
};

  </script>

<style>

	.bubbles {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		pointer-events: none;
		overflow: hidden;
	}

	.bubble {
		position: absolute;
		background: rgba(164, 0, 179, 0.2);
		border-radius: 50%;
		animation: floatBubble ease-in-out infinite alternate, glowMove 3s infinite alternate;
	}

	@keyframes floatBubble {
	from { transform: translateY(0); }
	to { transform: translateY(-20px); }
	}

	h1 {
	  @apply text-white text-4xl;
	}
	
	h1 span {
	  @apply text-purple-500 glow;
	}
	
	.cards {
	  @apply flex flex-wrap justify-center;
	}
	

	.card-title {
	  @apply text-2xl mb-4;
	}

		@keyframes glowMove {
	0% { 
		box-shadow: 0 0 5px #9d4edd, 0 0 10px #9d4edd, 0 0 15px #7e2dff, 0 0 20px #7e2dff;
	}
	50% { 
		box-shadow: 0 0 10px #9d4edd, 0 0 15px #9d4edd, 0 0 20px #7e2dff, 0 0 25px #7e2dff;
	}
	100% { 
		box-shadow: 0 0 5px #9d4edd, 0 0 10px #9d4edd, 0 0 15px #7e2dff, 0 0 20px #7e2dff;
	}
	}

	@keyframes glow {
	  0% {
		text-shadow: 0 0 5px #9d4edd, 0 0 10px #9d4edd, 0 0 7px #9d4edd, 0 0 20px #7e2dff, 0 0 35px #7e2dff, 0 0 40px #7e2dff, 0 0 50px #7e2dff, 0 0 75px #7e2dff;
	  }
	  
	  100% {
		text-shadow: 0 0 20px #9d4edd, 0 0 30px #9d4edd, 0 0 10px #9d4edd, 0 0 50px #7e2dff, 0 0 70px #7e2dff, 0 0 80px #7e2dff, 0 0 100px #7e2dff, 0 0 150px #7e2dff;
	  }
	}
	
	.glow {
	  animation: glow 2s ease-in-out infinite alternate;
	}
	
	.container {
	  @apply max-w-7xl mx-auto px-4;
	}
	
	.card-grid {
    z-index: 2;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 56px;
    display: grid;
    position: relative;
}

	</style>
	